/* Write your CSS here */
.thumbnailUrl {
  width: 100%;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  border-width: 0px;
}
.icon {
  color: white;
  font-size: 25px;
}
.trigger-button {
  background-color: transparent;
  border-radius: 5%;
  text-align: center;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  width: 100%;
  background-color: black;
}
.video {
  width: 100%;
}
.card {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin: 0%;
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 20px;
  }
}

.popup-content {
  width: 580px;
  height: 400px;
}
.react-player {
  width: 100%;
}
