.bg {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  max-width: 100vw;
  min-height: 110vh;
  background-size: cover;
  font-size: 75%;
}
.img {
  width: 100%;
}
h1 {
  padding: 3%;
  font-size: 25px;
}
.cont2 {
  margin-bottom: 3%;
}
